*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#resultado{
    display: none;
    height: 30vh;
    width: 50vw;
    margin-top: 30px;
    background-color:rgba(68, 55, 255, 0.171) ;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 60px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.39);
}

.header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: aliceblue;
    font-size: 30px;
    
}

.logo-icon{
    font-size: 80px;
}

span{
    color: rgb(0, 132, 255);
    
}

.container{
    background: radial-gradient(rgb(30, 23, 126), rgb(0, 28, 51));
    height: 100vh;

}
.card{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 240, 240);
    
}

.inputs{
    display: flex;
    gap: 100px;
    text-align: center;
}

input{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
label{
    font-size: 30px;
}
button{
    height: 100px;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(11, 3, 116);
    color: aliceblue;
    margin-top: 60px;
    transition:  0.3s ease;
    cursor: pointer;
    margin: none;
}

button:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgb(110, 94, 255);
    

    
}

.buttons{
    display: flex;
    gap: 50px;
}
